.nav-links {
  display: flex;
  justify-content: space-around;
}

/* || Small Screens */
@media screen and (max-width: 749px) {
  #sidebar-right {
    height: 430px;
  }

  img {
    width: 20%;
  }

  .container,
  .content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  .content {
    flex: 1 1 auto;
  }

  #sidebar-left {
    order: -1;
  }

  /* || Slider */
  .slider {
    width: 300px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }
  .slide {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
  }

  .slides {
    scroll-behavior: smooth;
  }

  @supports (scroll-snap-type) {
    .slider > a {
      display: none;
    }
  }
}

/* || Big Screens*/
@media screen and (min-width: 750px) {
  .content {
    display: flex;
    flex-direction: row;
  }

  main {
    flex: 2;
    order: 2;
  }

  #sidebar-left {
    flex: 0 0 260px;
    flex: 1;
    order: 1;
  }

  #sidebar-right {
    flex: 0 0 260px;
    flex: 1;
    order: 3;
  }

  footer {
    order: 4;
  }

  .nav-links {
    display: block;
    line-height: 3;
    list-style: none;
    padding: 10px;
  }

  img {
    width: 20%;
  }
}
