/* || Small Screens */

@media only screen and (max-width: 749px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  #sidebar-right {
    height: 400px;
  }

  img {
    width: 20%;
  }

  /* || Slider */
  .slider {
    width: 300px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }
  .slide {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
  }

  .slides {
    scroll-behavior: smooth;
  }

  @supports (scroll-snap-type) {
    .slider > a {
      display: none;
    }
  }
}

/* || Big Screens */
@media only screen and (min-width: 750px) {
  #sidebar-left,
  #aboutme {
    display: block;
    float: left;
  }

  #sidebar-right {
    display: block;
    float: right;
  }

  #sidebar-left,
  #aboutme,
  #sidebar-right {
    height: 1275px;
  }

  #sidebar-left {
    width: 25%;
  }

  #aboutme {
    width: 50%;
  }

  #sidebar-right {
    width: 25%;
  }

  footer {
    clear: both;
  }
}
