/* || Big Screens */
@media screen and (min-width: 750px) {
  .grid {
    grid-template-areas:
      "header header header"
      "nav main sidebar"
      "footer footer footer";
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:
      1fr
      2fr
      1fr
    grid-gap: 0;
  }

  .grid {
    min-height: 115vh;
  }

  header,
  footer {
    grid-column: 1 / 4;
  }

  .nav-links {
    line-height: 3;
  }
}

/* || Small Screens */
@media screen and (max-width: 749px) {
  .grid {
    grid-template-areas:
      "header"
      "navigation"
      "main"
      "sidebar"
      "footer";
    grid-template-columns: 100%;
    grid-template-rows:
      100px /* Header */
      75px /* Navigation */
      1fr /* Main Content */
      75px /* Sidebar */
      30px; /* Footer */
  }


  .nav-links {
    display: flex;
    justify-content: space-around;
  }

  #sidebar-right {
    height: 420px;
  }

    /* || Slider */
  .slider {
    width: 300px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }
  .slide {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
  }

  .slides {
    scroll-behavior: smooth;
  }

  @supports (scroll-snap-type) {
    .slider > a {
      display: none;
    }
  }
}