/* || Big Screens */
@media screen and (min-width: 750px) {
  .grid {
    grid-template-areas:
      "header header header"
      "nav main sidebar"
      "footer footer footer";
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:
      1fr
      2fr
      1fr
    grid-gap: 0;
  }

  .grid {
    min-height: 115vh;
  }

  header,
  footer {
    grid-column: 1 / 4;
  }

  .nav-links {
    line-height: 3;
  }
}

/* || Small Screens */
@media screen and (max-width: 749px) {
  .grid {
    grid-template-areas:
      "header"
      "navigation"
      "main"
      "sidebar"
      "footer";
    grid-template-columns: 100%;
    grid-template-rows:
      100px /* Header */
      75px /* Navigation */
      1fr /* Main Content */
      75px /* Sidebar */
      30px; /* Footer */
  }

  .shoutout2 {
    display: none;
  }

  .shoutout3 {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
  }

  #sidebar-right {
    height: 500px;
  }
}
